
        body {
            background-image: url("../static/bckg.png");
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
            background-size: cover;
            background-repeat: no-repeat;
            height: 120vh;
        }


        header {
            background-color: #333;
            padding: 20px;
            color: #fff;
            text-align: center;
        }

        header a {
            color: #fff;
            text-decoration: none;
            margin: 0 10px;
        }

        .container {
            width: 80%;
            margin: 0 auto;
            padding: 20px;
            text-align: center;
            color: #333;
        }

        h1 {
            font-size: 36px;
            margin-bottom: 20px;
        }

        p {
            font-size: 18px;
            margin-bottom: 20px;
            padding-bottom: 80px;
        }

        .cta-button {
            display: inline-block;
            background-color: #ffca3a;
            color: #000;
            font-size: 20px;
            padding: 10px 20px;
            border-radius: 5px;
            text-decoration: none;
            transition: background-color 0.3s ease;
        }

        .cta-button:hover {
            background-color: #f9b700;
        }

        footer {
            background-color: #333;
            padding: 10px;
            color: #fff;
            text-align: center;
            position: fixed;
            bottom: 0;
            left: 0;
            width: 100%;
        }